.innpakning {
    width : 800px; /* innpakningens bredde */
   background-color: #404040; /* en mørk gråfarge */
   margin: auto ;/*like stor høyre- og venstremargin */
  display: flex; /* angir at vi vil bruke flexbox */
  flex-direction: column;/* plasserer bokser i en kolonne*/

}
.topptekst {
height: 120px; /* overskrift-/toppteksthøyde */
background-color: #909090;/*en lys gråfarge */
padding : 5px; /*Avstand mellom bokskant og innhold*/
margin: 5px; /*luft rundt overskrift-/Topptekstboks*/
}
.meny{ 
background-color: #f04605;/* oransje farge*/
padding: 5px ; /* avstand mellom bokskant og innhold*/
margin: 5px; /* luft rundt menybok*/
}
.innhold {
background-color: #909090; /* en lys gråfarge*/
padding: 5px; /*avstand mellom bokskant og innhold*/
margin: 5px; /*luft rundt innholdsboks */
}
