html,body{
margin: 0;
padding: 0;
}

.title{
  font-size: xx-large;
}


.flex-container{
 display: flex;
 flex-direction: row;
 background-color: dodgerblue;
}

/*.meny1{

margin: 10px;
}*/

.bilde1{
padding: 10px;
margin: 20px;
background-color: #f1f1f1;
align-content: center;

}

.bilde2{
padding: 10px;
margin: 20px;
background-color: #f1f1f1;
align-content: center;


}  

.bilde3{
padding: 100px;
margin: 20px;
background-color: #f1f1f1;
align-content: center;
border: 0px;
}

.bilde4{
padding: 1px;
margin: 20px;
background-color: #f1f1f1;
align-content: center;
border: 0px;
border-image-width: 50em;
}
